.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-title] {
  font-size: 12px;
  position: relative;
  cursor: help;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -46px;
  padding: 10px;
  background: #000;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

.actions_button {
  display: flex;
  flex-direction: row;
}

.quick_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  * {
    padding: 5px;
  }
}
